option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    memory_limit: 256M
    max_execution_time: 60
    composer_options: --no-dev --optimize-autoloader

container_commands:
  01_storage_link:
    command: "php artisan storage:link || true"
    leader_only: true
  02_cache_config:
    command: "php artisan config:clear && php artisan config:cache || true"
    leader_only: true
  03_cache_routes:
    command: "php artisan route:clear && php artisan route:cache || true"
    leader_only: true
  04_cache_views:
    command: "php artisan view:clear && php artisan view:cache || true"
    leader_only: true
